# CS:4440 - Web Mining 
# Homework 1

### Data Description

The source file respresents a network of Reddit users and their connections. Each row (source user) is deliminated by '|' and their column (linked users) is deliminated by ','.

In [31]:
# Imports
import csv
import pandas as pd

In [36]:
# Read dataset
data = pd.read_csv('networkDataset_v2.psv',skiprows=1, sep = "|", index_col=False, 
                 names=['source user', 'linked users'])
data

              source user                                       linked users
0            frankEfurter  IReadItOnReddit43,Mmiklase,erdbeerheld,owljay,...
1       simplythrowmeaway  larsskynyrd79,deathangel1217,linkenski,ValarM0...
2                   gmiz0  berrythecat,alex23b,bluek00laid,Chaos_Therum,3...
3               Frogtown_        brokenpixel,TheCreepyDude,bluek00laid,gmiz0
4          tinderhackflex                                               Liru
...                   ...                                                ...
25297              optsyn                                               imro
25298           DJ_Skully                                               imro
25299  Zelda___Fitzgerald                                               imro
25300           Skinny128                                               imro
25301       noitsreallyme                                        Shaftronics

[25302 rows x 2 columns]

In [35]:
# Dimensions
print("Size:", data.size)
print("Shape:", data.shape)
print("Dimensions:", data.ndim)

Size: 50604
Shape: (25302, 2)
Dimensions: 2